.header{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 

  .header-links{
    ul {
      list-style: none;
    }
   a{
    text-decoration: none;
   }
  }
}